<%- include("./partials/header.ejs") %> 

<div style="max-width: 400px;">
<h1>Register</h1>
<form method="POST" action="/auth/register">
    <div class="form-group">
            <label for="email">Email</label>
            <input 
            class="form-control <%= errors.email ? "is-invalid" : "" %>" 
            type="email" 
            name="email" 
            id="email"
            value="<%= email %>"
            aria-describedby="email-input-validation"/>
            <div class="invalid-feedback" id="email-input-validation"><%= errors.email?.isEmail || errors.email?.unique %></div>
    </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input 
            class="form-control <%= errors.password && !errors.email ? "is-invalid" : "" %>" 
            type="password" 
            name="password" 
            id="password"
            aria-describedby="password-input-validation"/>
            <div class="invalid-feedback" id="password-input-validation"><%= errors.password?.minLength %></div>
    </div>
    <div class="form-group">
            <label for="password-verify">Confirm password</label>
            <input 
            class="form-control <%= errors.passwordVerify && !errors.password && !errors.email ? "is-invalid" : "" %>" 
            type="password" 
            name="passwordVerify"
            id="password-verify"
            aria-describedby="password-verify-input-validation" />
            <div class="invalid-feedback" id="password-verify-input-validation"><%= errors.passwordVerify?.equals %></div>
    </div>

    <input class="btn btn-success btn-block" type="submit" value="Register" />

</form>

</div>

<%- include("./partials/footer.ejs") %>