<%- include("./partials/header.ejs") %>
<div style="max-width: 400px;">

    <h1>Reporting</h1>

    <script src="/static/src/reporting.js" defer></script>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="morning-tab" data-toggle="tab" href="#morning" role="tab"
                aria-controls="morning" aria-selected="true">Morning</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="evening-tab" data-toggle="tab" href="#evening" role="tab" aria-controls="evening"
                aria-selected="false">Evening</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <!-- Morning reporting-->
        <div class="tab-pane fade show active" id="morning" role="tabpanel" aria-labelledby="morning-tab">

            <form method="POST" action="/behavior/reporting/morning">

                <div class="form-group">
                    <label>Date</label>
                    <input 
                        class="form-control <%= errors.date ? "is-invalid" : "" %>" 
                        type="text" 
                        value="<%= date %>" 
                        name="date" 
                        id="morningDate"
                        aria-describedby="date-input-validation">
                        <div class="invalid-feedback" id="date-input-validation">
                            <%= errors.date?.minLength %>
                        </div>
                </div>

                <div class="form-group">
                    <label>Sleep duration</label>
                    <div class="input-group mb-3">
                        <input 
                            type="number" 
                            name="sleepDuration"
                            value="<%= sleepDuration %>"
                            class="form-control <%= errors.sleepDuration ? "is-invalid" : "" %>" 
                            aria-label="Sleep duration"
                            aria-describedby="sleep-duration">

                        <div class="input-group-append">
                            <span class="input-group-text" id="sleep-duration">hours</span>
                        </div>
                        <div class="invalid-feedback" id="sleep-duration">
                            <%= errors.sleepDuration?.required || errors.sleepDuration?.minNumber %>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Sleep quality</label>
                    <input 
                        class="<%= errors.sleepQuality ? "is-invalid" : "" %>"
                        style="display: none;" 
                        value="<%= sleepQuality %>" 
                        type="text" 
                        id="sleep-quality-value" 
                        name="sleepQuality"
                        aria-describedby="sleep-quality-input-validation">
                    <div class="slider" id="sleep-quality-slider"></div>
                    <div class="invalid-feedback" id="sleep-quality-input-validation">
                        <%= errors.sleepQuality?.minValue || errors.sleepQuality?.maxValue  %>
                    </div>
                </div>

                <div class="form-group">
                    <label>Mood</label>
                    <input 
                    class="<%= errors.mood ? "is-invalid" : "" %>"
                        style="display: none;" 
                        type="text" 
                        id="morning-mood-value" 
                        name="mood"
                        aria-describedby="mood-morning-input-validation">
                    <div class="slider" id="morning-mood-slider"></div>
                    <div class="invalid-feedback" id="morning-mood-input-validation">
                        <%= errors.mood?.minValue || errors.mood?.maxValue  %>
                    </div>
                </div>

                <input class="btn btn-success" value="Save" type="submit">
            </form>
        </div>


        <!-- Evening reporting -->
        <div class="tab-pane fade" id="evening" role="tabpanel" aria-labelledby="evening-tab">
        </div>




    </div>
</div>




</div>

<%- include("./partials/footer.ejs") %>